@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');

:root{
    --primary-color: #f5b754;
    --primary-color-dark: #d6a04a;
    --text-dark: #15191D;
    --text-light: #737373;
    --extra-light: #e5e5e5;
    --max-width: 1200px;
    --header-font: "Syncopate", sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.section__header{
    font-size: 3.25rem;
    font-weight: 700;
    font-family: var(--header-font);
    color: var(--text-dark);
    letter-spacing: -5px;
    line-height: 4.25rem;
}

.btn{
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    color: white;
    background-color: var(--text-dark);
    border-radius: 10px;
    transition :0.3s;
    cursor: pointer;
    
}  

.btn:hover{
    color: var(--text-dark);
    background-color: var(--primary-color);
}

img{
    display: flex;
    width: 100%;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

ul {
    list-style-type: none;
}

html,
body {
    scroll-behavior: smooth;
}